<h1><%=pageTitle %> Page H1</h1>

<% 
i=0
dataF.speakers.forEach(function(item){ %>

    <li>
        <h2><a href="/speakers/<%=i%>"><%=item.name%></a></h2>
        <p><%=item.summary%></p>
    </li>

<% 
i=1+1
}) %>